
<div class="container">
  <div class="card-header">
    <div class="card-body">
      <h3>Ingresar</h3>
      <div class="form-group">
        <input type="text" class="form-control m-2" placeholder="Username" #userName required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control m-2" placeholder="Password" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="form-group">
        <input type="button" class="btn btn-primary btn-lg btn-block m-2" value="Log in" >
      </div>

      <div   class="form-group">
        <input  class="btn btn-primary btn-lg btn-block m-2 log-out" value="Log out" >
      </div>

      
  
      

    </div>



  </div>
</div>